

html, body {
margin: 0;
padding: 0;
height: 100%;
}


header {
    background-image: url(../images/w05_circles.jpg);
    background-size: contain;
    height: auto;
    max-width: 100%;
    min-height: 100%;
    
    margin-bottom: -150px;
}

main{
    background-color: #737373;
    height: 55%;
    text-align: center;
    padding: 50px;
    
}

main img{
    display: inline-block;
    max-height: 200px;
    border-radius: 200px;
    border: 15px solid #444444;
    border-color: #444444;
    margin: 15px 100px;
    height: 60%;
    
}